// parameters for wgs_solid_ca_workbook
params.file_path = ""
params.variant_file = "*reported_variants*.csv"
params.sv_file = "*reported_structural_variants*.csv"
params.html_file = "*supplementary.html"
params.hotspots = ""
params.refgene_group = ""
params.clinvar = ""
params.clinvar_index = ""
params.outdir = "./wgs_solidCA_workbook"
params.variant = "${params.file_path}/${params.variant_file}"
params.structural_variant = "${params.file_path}/${params.sv_file}"
params.html = "${params.file_path}/${params.html_file}"
// docker
process {
withName:wgs_solidCA_workbook {
container = "dx://project-GkG4Zf84Yj359Q9JYbbqbFpy:file-GkGQ4x04Yj30z2kyQPfFkVYY"
}       
}
docker {
enabled = true
}
docker.runOptions = '-u $(id -u):$(id -g)'
// machine type
process {
withName:wgs_solidCA_workbook {
machineType = 'mem1_ssd1_v2_x16'
}     
}
// max number of parallel run
executor {
queueSize = 99
}

